.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
  pointer-events:none;
}
.jqvmap-pin {
  pointer-events:none;
}
.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000000;
	padding: 3px;
	color: white;
	width: 10px;
	height: 10px;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
}
.jqvmap-zoomin
{
	top: 10px;
}
.jqvmap-zoomout
{
	top: 30px;
}
.jqvmap-region
{
  cursor: pointer;
}
.jqvmap-ajax_response
{
  width: 100%;
  height: 500px;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

/* Style for menu items */
.dropdown-menu li {
	padding: 10px;
	list-style: none;
}

.dropdown-menu li a {
	text-decoration: none;
	color: #333;
}

.dropdown-menu li a:hover {
	background-color: #f5f5f5;
}

/* Style for the caret icon */
.caret {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

/* Style for the user icon */
.user-icon {
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

/* Style for the username */
.username {
	margin-left: 5px;
	vertical-align: middle;
}